snippet print
	System.out.println(${0});
snippet for
	for (${1};${2};${3}) {
		${0:/* loop */}
	}
snippet div
	<div>
		<p>${1:content}</p>
	</div>
snippet restc
	datatatatatatatat
	public class ${1:Foo} {
		${0}
	}
