<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0 //EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>philippe.pf</string>
    <key>ProgramArguments</key>
    <array>
      <!-- we run ipconfig because the network adapters need to be up and running before starting the pf -->
      <string>/bin/bash</string>
      <string>-c</string>
      <string>ipconfig waitall &amp;&amp; echo 'Starting up pf on' `date` &amp;&amp; /sbin/pfctl -e -f /etc/pf.conf</string>
    </array>

    <key>KeepAlive</key>
    <dict>
    	<key>Crashed</key>
    	<true/>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>ServiceDescription</key>
    <string>FreeBSD Packet Filter (pf) Firewall</string>
    <key>StandardErrorPath</key>
    <string>/private/var/log/pf.log</string>
    <key>StandardOutPath</key>
    <string>/private/var/log/pf.log</string>

  </dict>
</plist>
