root = true

[*]
end_of_line = LF

[*.fish]
charset = utf-8
indent_style = space
indent_size = 4

[*.sh]
charset = utf-8
indent_style = space
indent_size = 2

[vimrc]
charset = utf-8
indent_style = space
indent_size = 2

[*.vim]
charset = utf-8
indent_style = space
indent_size = 4

[*.json]
charset = utf-8
indent_style = space
indent_size = 2
