
# vim backup files
*.*~
*~
*.swp
emerging-Block-IPs.txt

# macOS stuff
.DS_Store

# fisher
/fish/.config/fish/functions/*.fish
/fish/.config/fish/functions/fish_prompt.fish
!/fish/.config/fish/functions/@*.fish

/vim/.vim/.netrwhist
/vim/.vim/.netrwhist
