# looks
set linenumbers
set autoindent
set minicolor black,sky
set functioncolor sky,normal
set titlecolor normal,mauve
set numbercolor sky,normal
set selectedcolor normal,sky
set constantshow

# feels
bind ^c copy all
bind ^v paste all
bind ^Q exit all
bind M-c cancel all
