# looks
set linenumbers
set autoindent
set minicolor black,sky
set functioncolor sky,normal
set titlecolor normal,mauve
set numbercolor sky,normal
set selectedcolor normal,sky
set constantshow

# feels
bind M-c copy all
