/**
 * CSS file to be used with markdown-pdf.
 */

body {
	font-size: 8pt;
	margin: 0px;
	padding: 0px;
	text-align: justify;
	counter-reset: c1;
}

body h1:before {
	content: counter(c1)". ";
	counter-increment: c1;
}

body h1 {
	counter-reset: c2;
}

body h2:before {
	content: counter(c1)"."counter(c2)". ";
	counter-increment: c2;
}

body h2 {
	counter-reset: c3;
}

body h3:before {
	content: counter(c1)"."counter(c2)"."counter(c3)". ";
	counter-increment: c3;
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 11pt;
}

strong {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-size: 8pt;
}

td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	word-break: normal;
}

th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-weight: normal;
	padding: 2px;
	word-break: normal;
	background-color: cadetblue;
}

code {
	color: #606060;
}